@import "../../main.scss";
.auth_block {
  text-align: center;
  margin-top: 25vh;
}
.form {
	border: 2px solid $text_main;
	box-shadow: 0 0 10px $text_main;
	border-radius: 20px;
	text-align: center;
	display: inline-block;
	min-width: 30%;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}
.input{
	margin: 0 auto;
	margin-bottom: 20px;
	margin: 20px;
	font-size: 1.5em;
}
.btn{
	margin-bottom: 20px;
	margin: 20px;
	font-size: 1.5em;
  width: 30vw;
	padding: 15px 0;
	transition: all .2s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	&:hover{
		background: $text_main_light;
	}
}